:root {
  --white: #fff;
  --primary-color: #ff7a00;
  --secondary-color: #d9d9d9;
  --text-primary: rgba(0, 0, 0, 80%);
  --text-secondary: #ff7a00;
  --primary-shadow: 0 4px 28px rgba(215, 136, 63, 26%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2 !important;
  color: var(--text-primary) !important;
  width: 100vw;
  overflow-x: hidden;
  font-family: Nunito, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  max-width: 1250px;
  margin: auto;
  margin-block: 1em;
  padding: 1.5em;
}

.page-header {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  background: var(--white);
  border-radius: 20px;
  height: 80px;
  align-items: center;
  padding-inline: 2.5em;
  box-shadow: var(--primary-shadow);
  position: relative;
  width: 100%;
  max-width: 100%;
}

.page-header .logo-text h3 {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 1.5em;
  margin: 0 !important;
}

.user-info .edit-icon .iconify {
  width: 30px;
  height: 30px;
  color: #ff0000;
}

.page-header .nav-list {
  display: inline-flex;
  gap: 1em;
  list-style: none;
  margin: 0 !important;
}

.page-header .nav-list li {
  font-weight: 500;
}

.page-header .nav-list li a {
  text-decoration: none;
  color: var(--text-primary) !important;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 7px 24px;
  display: block;
  height: 100%;
  width: 100%;
}

.page-header .nav-list li a.active {
  background-color: var(--primary-color);
  color: #fff !important;
}

.page-header .nav-list li a.active {
  color: #fff !important;
  text-decoration: none;
}

.page-header .menu {
  position: relative;
}

.page-header .menu .preview {
  display: flex;
  gap: 1em;
  border-radius: 20px;
  align-items: center;
  border: 1px solid var(--primary-color);
  height: 40px;
  padding-inline: 10px;
  cursor: pointer;
}

.page-header .menu .preview .address {
  font-weight: 800;
  color: var(--primary-color);
}

.page-header .menu .preview .user-image {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.page-header .side-bar {
  height: 510px;
  width: 250px;
  align-items: center;
  padding: 2em 1em;
  background-color: var(--white);
  box-shadow: var(--primary-shadow);
  position: fixed;
  top: 10px;
  border-radius: 20px;
  right: 32px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  transform: rotate3d(5, 4, 3, 45deg) skew(-5deg, -30deg);
  z-index: 10;
}

.page-header .profile {
  text-align: center;
  display: grid;
  justify-content: center;
}

.menu-modal .user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 0.5em;
}

.page-header .address {
  font-weight: 900;
  color: var(--primary-color);
  margin-block: 0.5em;
  background: #f2f2f2;
  border: thin solid grey;
}

.page-header .side-bar .logout-btn {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
}

.nav-link .link-list {
  list-style: none;
}

.nav-link .link-list li a {
  text-decoration: none;
  display: block;
  background-color: #f2f2f2;
  font-weight: 600;
  border-radius: 20px;
  padding: 0.5em 1em;
  text-align: center;
  width: 100%;
  color: inherit;
  margin-top: 1em;
}

.nav-link .link-list li a.active,
.nav-link .link-list li a:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.page-header .side-bar .logout {
  padding: 10px;
  outline: none;
  border: none !important;
  border-radius: 20px;
  margin-top: 2em;
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
}

.main-content .navigation-flow {
  text-decoration: none;
  margin-top: 22px;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.main-content .navigation-flow a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.wallet-connector .ant-modal-content {
  border-radius: 20px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 800px) {
  .page-header {
    padding-inline: 1em;
  }
  .page-header .logo-text h3 {
    flex-grow: 1;
  }
  .page-header .nav-list {
    display: none;
  }
  .page-header .side-bar.open {
    transform: rotate3d(1, 1, 1, 0deg) skew(0deg, 0deg);
    opacity: 1;
    pointer-events: all;
    top: 160px;
  }
}

@media screen and (max-width: 340px) {
  .page-header .menu .preview {
    border: none;
  }
  .page-header .menu .preview .active-address {
    display: none;
  }
}
