.main-content .main-title {
  margin-block: 2em;
}

.active-payment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 2em;
}

.active-payment .card {
  background: #fff;
  border-radius: 20px;
  padding: 1em;
  height: 150px;
}

.payment-history-wrapper .history-title {
  margin-block: 2em;
}
