.editing-profile {
  margin-block: 3em;
}

.editing-profile .user-image {
  border: thin dashed;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 1em;
  cursor: pointer;
}

.editing-profile .user-image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.editing-profile .user-image .change-btn {
  background-color: var(--primary-color);
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0px;
  right: 15px;
  border-radius: 50%;
  padding: 5px;
}

.editing-profile .user-image .change-btn .iconify,
.editing-profile .user-name .phone .iconify {
  width: 20px;
  height: 20px;
  color: #fff;
}

.form-container .user-details.section,
.social-wrapper .social-links,
.login-details {
  display: grid;
  gap: 1.5em;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
}

.form-container .form-group {
  margin: 0;
}

.form-container .form-group #password {
  background: transparent;
}
.form-container .user-details.section .user-image {
  margin: auto;
}

.form-group label {
  margin-bottom: 0.5em;
  display: block;
  font-weight: 600;
  font-size: 0.8em;
}

.form-group .form-control {
  width: 100%;
  padding: 0.8em;
  border-radius: 5px;
  border: thin solid grey !important;
  box-shadow: none;
  background-color: #ffffffad;
}

.form-group .form-control.select {
  padding-block: 0.5em;
}

.social-wrapper .social-title,
.login-title {
  margin-block: 2em;
  font-weight: 600;
  background-color: #ffffffad;
  color: var(--primary-color);
  width: max-content;
  padding: 0.5em 1.5em;
  border-radius: 5px;
}

.form .save {
  padding: 0.5em 2em;
  outline: none;
  border: none !important;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  margin-top: 2em;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  min-width: 150px;
}

.form .save:disabled {
  background-color: #80808021;
  color: #2d292921;
}
