.main-content .profile-wrapper {
  margin: auto;
  max-width: 450px;
  margin-block: 2em !important;
}

.main-content .profile-wrapper .user-details {
  height: 471px;
  text-align: center;
}

.profile-wrapper .user-image {
  background: #fff;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  position: relative;
  display: grid;
  place-items: center;
  margin: auto;
  margin-bottom: 12px;
}

.profile-wrapper .user-image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.profile-wrapper .user-name {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2em;
  gap: 10px;
}

.user-name .phone {
  background-color: var(--primary-color);
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.user-name .phone .iconify {
  color: #fff;
}

.user-details .user-position {
  font-family: nunito;
  font-weight: 600;
  color: rgba(187, 112, 44, 1);
  line-height: 24px;
  margin-top: 12px;
}

.user-details .user-email {
  font-family: nunito;
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
}

.user-details .user-email span {
  color: #000000b0;
  font-weight: 600;
}

.user-details .social-wrapper {
  margin-block: 1em;
}

.user-details .social-wrapper span {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.user-details .social-icons {
  display: flex;
  column-gap: 1em;
  justify-content: center;
  margin-top: 0.5em;
}

.user-details .social-icons .iconify {
  color: #555;
  width: 40px;
  height: 40px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 2ms;
}

.user-details .social-icons .iconify:hover {
  color: #ff7a00;
}

.user-details .sub-content {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 0.5em;
  text-align: center;
}

.user-details .sub-content h4 {
  font-size: 16px;
  font-weight: 800;
}

.user-details .sub-content p {
  font-size: 16px;
  font-weight: 700;
  color: #ff7a00;
  margin: 0;
}

.profile-wrapper .user-details .edit {
  padding: 1em;
  outline: none;
  border: none !important;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-top: 2em;
  text-align: center;
  width: 40%;
  font-weight: 600;
  cursor: pointer;
  transition: 1.5ms;
  color: #fff;
}

.profile-wrapper .user-details .edit a {
  color: #f2f2f2;
  text-decoration: none;
  display: block;
}

.profile-wrapper .user-details .edit:hover {
  background-color: #b05601;
}

.main-content .editing-profile .user-info .user-image img {
  top: 32px;
}

@media (max-width: 500px) {
  .user-details .sub-content p {
    font-size: 0.8em;
  }
}
