.report-wrapper {
  margin-block: 3em;
}

.report-wrapper .report-label {
  font-weight: 800;
  margin-block: 1em;
}

.form-group:first-child {
  margin-bottom: 1em;
}

.form-control {
  outline: none;
  border: none !important;
  background-color: #fff;
  width: 100%;
  padding: 1.5em 1em;
  resize: none;
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
}

.form-control::placeholder {
  font-weight: 600 !important;
  font-family: Nunito !important;
  letter-spacing: 1.6;
  font-size: 1em !important;
}

.action-group {
  margin-block: 1em;
}

.action-group .btn {
  border: none;
  outline: none;
  padding: 1em 1.5em;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
}

.submitted-report {
  margin-top: 4em;
}

.submitted-report .title h3 {
  margin-block: 1.5em;
  font-weight: 800;
}

.submitted-report .report-card {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 1em;
  border-radius: 10px;
}

.submitted-report .report-card:not(:last-child) {
  margin-bottom: 1em;
}

.report-title .dot {
  background-color: #fff;
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.5em;
}

.report-title {
  font-weight: 600;
  margin-bottom: 0.5em;
}
